on:
  push:
    branches:
      - master
      - main
name: Release

permissions:
  id-token: write
  contents: write
  issues: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: GoogleCloudPlatform/release-please-action@v4
        id: release
        with:
          token: ${{secrets.RELEASE_TOKEN}}
          release-type: node

      - if: ${{ steps.release.outputs.release_created }}
        name: Checkout Repository
        uses: actions/checkout@v4

      - if: ${{ steps.release.outputs.release_created }}
        name: Setup PNPM
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - if: ${{ steps.release.outputs.release_created }}
        name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: ".node-version"
          registry-url: "https://registry.npmjs.org"

      - if: ${{ steps.release.outputs.release_created }}
        name: Install Dependencies
        run: pnpm install

      - if: ${{ steps.release.outputs.release_created }}
        run: pnpm publish --provenance
